
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div> 
        <h2>Books Details</h2>
        @Html.DropDownList("Books", (IEnumerable<SelectListItem>)TempData["Books"])
    </div>
</body>
</html>
