
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>GoToHome</title>
</head>
<body>
    <div> 
        <h2>@ViewBag.MyTime</h2>
        <h2>@TempData.Peek("MyTime2").ToString()</h2>
    </div>
</body>
</html>
